@model NewsScraper_Web.Models.UserLogin

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<div class="col-md-4">
    <form asp-action="Login">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>
        <p class="mt-2 text-danger">@TempData["Error"]</p>
    </form>
    <a asp-controller="User" asp-action="Register" class="mt-2">Need an account? Click here to register</a>
</div>
