@{
    ViewData["Title"] = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #findDevicesImg {
        width: 40%;
    }

    @@media (max-width: 767px) {
        #findDevicesImg {
            width: 100%;
        }
    }
</style>

<h1 class="mb-5">Setup Guide</h1>

<h3>Find Your Kindle's Email Address</h3>
<ol>
    <li>Sign in to <a href="https://amazon.com" target="_blank">Amazon</a></li>
    <li>Hover over "Account & Lists" and select "Devices"</li>
    <img id="findDevicesImg" class="p-2" src="~/images/find-devices.png" alt="Find Devices" />
    <li>Click on your Kindle</li>
    <li>Find the "Email" field in your device's summary</li>
    <img class="w-100 p-2" src="~/images/kindle-summary.png" alt="Device Summary" />
</ol>

<h3 class="mt-5">Allow Kindle NewsReader to Deliver Content</h3>
<ol>
    <li>From the "Devices" page, click on the "Preferences" link</li>
    <img class="w-100 p-2" src="~/images/preferences.png" alt="Preferences" />
    <li>Scroll down and click on "Personal Document Settings"</li>
    <li>Under "Approved Personal Document E-Mail List", click "Add a new approved e-mail address"</li>
    <img class="w-100 p-2" src="~/images/add-email.png" alt="Add Email" />
    <li>Add "kindlenewsreader@noreply.com"</li>
</ol>
