@{
    ViewData["Title"] = "Home";
    bool isLoggedIn = (bool)ViewData["IsLoggedIn"];
}

<div class="text-center">
    <h1 class="display-4">A Custom Newspaper Delivered To Your Kindle Every Morning</h1>
    @if (!isLoggedIn)
    {
        <div class="d-flex gap-2 justify-content-center">
            <button class="btn btn-primary">
                <a class="text-white text-decoration-none" asp-controller="User" asp-action="Login">Login</a>
            </button>
            <button class="btn btn-secondary">
                <a class="text-white text-decoration-none" asp-controller="User" asp-action="Register">Register</a>
            </button>
        </div>
    }
    <p class="mt-5">
        Kindle NewsReader is completely free to use and no personal information is required to sign up
    </p>
    <p>PLACEHOLDER: replace with images from news pdf</p>
</div>