@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    All news is sourced from <a href="https://apnews.com/" target="_blank">Associated Press</a>, which allows
    non-commercial use of their content as per Section 7 of their 
    <a href="https://apnews.com/termsofservice" target="_blank">Terms of Service</a>.
</p>

<p>
    Kindle NewsReader is a private application that does not collect any personally identifying information from its
    users. 
</p>

<!-- TODO: add a contact form -->
